appdirs
appnope
astroid
attrs
backcall
black
bleach
certifi
chardet
click
cycler
decorator
defusedxml
docutils
entrypoints
flake8
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
keyring
kiwisolver
lazy-object-proxy
lz4
MarkupSafe
matplotlib
mccabe
mistune
more-itertools
nbconvert
nbformat
notebook
numpy
packaging
pandocfilters
parso
pathspec
pexpect
pickleshare
pkginfo
pluggy
prometheus-client
prompt-toolkit
ptyprocess
py
pycodestyle
pyflakes
Pygments
pylint
pyparsing
pyrsistent
pytest
python-dateutil
pyzmq
qtconsole
QtPy
readme-renderer
regex
requests
requests-toolbelt
scipy
Send2Trash
six
terminado
testpath
toml
tornado
tqdm
traitlets
twine
urllib3
wcwidth
webencodings
widgetsnbextension
wrapt
zipp
